{% extends 'base.html' %}

{% block body %}

    <div class="container">
        <h1 class="display-4">{{ client.name }}</h1>
    </div>

    <div class="container">
        <table class="table table-bordered table-striped">
<!--            <tr>
                <th scope="row">id:</th>
                <td>{{ client.id }}</td>
            </tr>                           -->
            <tr>
                <th scope="row">Descroption:</th>
                <td>{{ client.description }}</td>
            </tr>
<!--            <tr>
                <th scope="row">Registration Date:</th>
                <td>{{ client.reg_date }}</td>
            </tr>                           -->
            <tr>
                <th scope="row">Router</th>
                <td>{{ router.name }}</td>
            </tr>
            <tr>
                <th scope="row">Interface:</th>
                <td>{{ interface.name }}</td>
            </tr>
            <tr>
                <th scope="row">Speed:</th>
                <td>{{ client.speed }} KBps</td>
            </tr>
        </table>
    </div>

    <div class="container mt-2">
        <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#ip-addresses">IP-addresses</button>
        <div class="collapse" id="ip-addresses">
          <div class="card card-body">
            <div class="d-flex flex-wrap justidy-content-around">
                {% for ip in ip_addresses %}
                    <div class="p-2">{{ ip }}</div>
                {% endfor %}
            </div>
          </div>
        </div>
    </div>

    <div class="container mt-2">
        <button class="btn btn-warning btn-block" type="button" data-toggle="collapse" data-target="#status">Status</button>
        <div class="collapse" id="status">
            <div class="card card-body">
                <pre>{{ status }}</pre>
            </div>
        </div>
    </div>

    <div class="container mt-2">
        <button class="btn btn-success btn-block" type="button" data-toggle="collapse" data-target="#arp-table">ARP-Table</button>
        <div class="collapse" id="arp-table">
          <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>IP Address</th>
                    <th>MAC Address</th>
                    <th>Vendor</th>
                </tr>
            </thead>
            <tbody>
                {% for arp in arps %}
                    <tr>
                        <td>{{ arp['address'] }}</td>
                        <td>{{ arp['mac'] }}</td>
                        <td>{{ arp['vendor'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  
    <div class="container mt-2">
        <button class="btn btn-danger btn-block" type="button" data-toggle="collapse" data-target="#pings">pings</button>
        <div class="collapse" id="pings">
          <div class="card card-body">
                {% for ping in pings %}
                    <pre class="pre-scrollable">{{ ping }}</pre>
                {% endfor %}
          </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-bottom justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="btn btn-dark" type="button" href="/">Back</a>
            </li>
        </ul>
    </nav>

{% endblock %}