{% extends 'base.html' %}

{% block body %}
    <div class="container mt-5">
        <form class="form-control" action="/about" method="post">
            <label for="select-search">Выберите клиента</label><br>
            <select class="select" name="client" id="select-search">
                {% for client in clients %}
                <option value="{{ client.id }}">{{ client.name }}</option>
                {% endfor %}
            </select>
            <input class="button" type="submit" value="send">
        </form>
    </div>
{% endblock %}